<nav class="menu-dekstop">
  {{> navbar-component}}
</nav>

<ul id="slide-out" class="sidenav">
  {{> navbar-component}}
</ul>
<a href="#" data-target="slide-out" class="sidenav-trigger">
  <i class="material-icons">menu</i>
</a>